.ecofarm__wrapper {
	min-height: 704px;
	padding: 40px 60px 40px 40px;
	background-image: url(../../images/bg_ecofarm.png);
	background-repeat: no-repeat;
	background-size: auto 100%;
	box-sizing: border-box;
	display: flex;
	justify-content: end;
	align-items: center;
}

.ecofarm__content {
	max-width: 720px;
	padding: 40px 40px 40px 60px;
	border-radius: 30px;
	box-sizing: border-box;
	background-color: #fff;
	display: flex;
	flex-direction: column;
	justify-content: center;
	row-gap: 30px;
}

.ecofarm__title {
	max-width: 310px;
}

.ecofarm__para {
	display: flex;
	flex-direction: column;
	row-gap: 10px;
}

.ecofarm__para-title {
	font-family: Roboto-Bold, sans-serif;
	font-size: 23px;
	text-transform: capitalize;
}

.ecofarm__para-text {
	font-family: OpenSans, sans-serif;
	color: var(--color-dark-gray);
}

@media (max-width: 740px) {
	.ecofarm__wrapper {
		padding: 20px;
		background-size: 100% 100%;
		justify-content: center;
	}

	.ecofarm__content {
		padding: 20px;
	}

	.ecofarm__title {
		max-width: none;
		text-align: center;
	}
}

@media (max-width: 640px) {
	.ecofarm__para {
		text-align: center;
		row-gap: 20px;
	}
}
