.footer__wrapper {
	min-height: 520px;
	box-sizing: border-box;
	padding: 30px 30px;
	display: flex;
	justify-content: center;
	align-items: center;
}

.footer__top {
	width: 100%;
	display: flex;
	justify-content: space-around;
	row-gap: 40px;
}

.contacts {
	width: 310px;
	min-height: 370px;
	padding: 0 20px;
	border-right: 1px solid #d5d5d5;
	display: flex;
	flex-direction: column;
	align-items: end;
	row-gap: 40px;
}

.contacts__title {
	font-family: Roboto-Bold, sans-serif;
	font-size: 30px;
	line-height: 42px;
}

.contacts__kind {
	text-align: right;
}

.contacts__name {
	font-family: OpenSans-Bold, sans-serif;
	color: var(--color-dark-gray);
	line-height: 23px;
}

.contacts__content {
	font-family: OpenSans, sans-serif;
	color: var(--color-dark-gray);
	line-height: 29px;
}

.footer__top-midbox {
	max-width: 570px;
	padding: 0 20px;
	box-sizing: border-box;
	text-align: center;
	display: flex;
	flex-direction: column;
	align-items: center;
	row-gap: 50px;
}

.footer__top-text {
	font-family: OpenSans, sans-serif;
	color: var(--color-dark-gray);
}

.social {
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
	column-gap: 20px;
	row-gap: 20px;
}

.social__item {
	width: 60px;
	height: 60px;
	border-radius: 50%;
	background: #eff6f1;
	display: flex;
	justify-content: center;
	align-items: center;
	transition: 0.5s;
}

.pages {
	width: 310px;
	padding: 0 20px;
	border-left: 1px solid #d5d5d5;
	display: flex;
	flex-direction: column;
	row-gap: 24px;
}

.pages__title {
	font-family: Roboto-Bold, sans-serif;
	font-size: 30px;
	line-height: 42px;
}

.pages__item {
	font-family: OpenSans, sans-serif;
	line-height: 29px;
	color: var(--color-dark-gray);
}

.contacts__content:hover {
	text-decoration: underline;
}

.social__item:hover {
	background: var(--color-gray);
	transform: scale(1.1);
}

.pages__item:hover {
	font-family: OpenSans-Bold;
}

.footer__bottom iframe {
	width: 100%;
}

@media (max-width: 1260px) {
	.footer__top {
		flex-wrap: wrap;
	}

	.footer__top-midbox {
		max-width: none;
		order: -1;
		row-gap: 20px;
	}
}

@media (max-width: 860px) {
	.footer__top {
		flex-direction: column;
	}

	.contacts,
	.pages {
		width: auto;
		min-height: auto;
		border: none;
		align-items: center;
		text-align: center;
		row-gap: 20px;
	}

	.contacts__kind {
		text-align: center;
	}
}
