.header {
	position: relative;
}

.header-top {
	width: 100%;
	max-width: 1440px;
	min-height: 160px;
	padding: 40px 30px;
	box-sizing: border-box;
	position: fixed;
	top: 0;
	background-color: #fff;
	display: flex;
	justify-content: space-between;
	align-items: center;
}

.header-bottom {
	min-height: calc(260px + 40vw);
	padding: 0 30px;
	margin-top: 160px;
	display: flex;
	flex-direction: column;
	justify-content: center;
	row-gap: 30px;
	background-image: url(../../images/bg_tea.png);
	background-repeat: no-repeat;
	background-size: 100% 100%;
}

.header-bottom__title {
	width: 500px;
	font-family: Roboto-Bold, sans-serif;
	font-size: calc(0px + 4vw);
	line-height: calc(20px + 4vw);
	letter-spacing: 0.36px;
}

@media (max-width: 860px) {
	.header-bottom {
		background-size: cover;
	}

	.header-bottom__title {
		font-size: 34px;
		line-height: 54px;
	}
}

@media (max-width: 640px) {
	.header-top {
		flex-direction: column;
		align-items: start;
		row-gap: 20px;
	}

	.header-bottom__title {
		width: auto;
	}
}

@media (max-width: 480px) {
	.header-bottom {
		align-items: center;
		text-align: center;
	}
}
