.subscribe__wrapper {
	padding: 30px;
}

.subscribe__content {
	min-height: 320px;
	padding: 30px 70px;
	box-sizing: border-box;
	border-radius: 30px;
	background-image: url(../../images/bg_orange.png);
	background-repeat: no-repeat;
	background-size: 100% 100%;
	display: flex;
	justify-content: space-between;
	align-items: center;
}

.subscribe__title {
	max-width: 320px;
}

@media (max-width: 1280px) {
	.subscribe__content {
		text-align: center;
		flex-direction: column;
		justify-content: center;
		row-gap: 30px;
	}

	.subscribe__title {
		max-width: none;
	}
}

@media (max-width: 960px) {
	.subscribe__content {
		background-size: cover;
	}
}
