.testimony__wrapper {
	min-height: 1250px;
	padding: 0 30px;
	background-image: url(../../images/bg_cinnamon.png);
	background-repeat: no-repeat;
	background-size: 100% 100%;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}

.testimony__title {
	margin-bottom: 60px;
	text-align: center;
}

.customer {
	max-width: 940px;
	display: flex;
	text-align: center;
	flex-direction: column;
	align-items: center;
	row-gap: 20px;
}

.customer__feedback {
	font-family: OpenSans;
	color: var(--color-dark-gray);
}

.customer__name {
	font-family: Roboto-Bold;
	font-size: 26px;
	line-height: 34px;
}

.customer__title {
	font-family: OpenSans;
	font-size: 14px;
	line-height: 27px;
	color: var(--color-dark-gray);
}

.line {
	width: 80%;
	height: 2px;
	margin: 100px 0;
	background: #e0e0e0;
}

.indicator {
	display: flex;
	justify-content: center;
	flex-wrap: wrap;
	row-gap: 25px;
	column-gap: 25px;
}

.indicator__block {
	width: 250px;
	height: 250px;
	border: 6px solid #7eb693;
	border-radius: 50%;
	outline: 5px solid #fff;
	outline-offset: -12px;
	box-sizing: border-box;
	background: #f1f1f1;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}

.indicator__value {
	font-family: Roboto-Bold;
	font-size: 42px;
	line-height: 55px;
}

.indicator__name {
	font-family: OpenSans-Bold;
}
