.form-email {
	display: flex;
	column-gap: 10px;
}

.form-email__input {
	width: 350px;
	height: 80px;
	padding: 30px;
	box-sizing: border-box;
	border: 1px solid #ccc;
	border-radius: 16px;
	transition: 1s;
}

.form-email__input::placeholder {
	font-family: OpenSans, sans-serif;
	line-height: 29px;
}

@media (max-width: 960px) {
	.form-email {
		flex-direction: column;
		align-items: center;
		row-gap: 20px;
	}

	.form-email__input {
		width: 100%;
		flex-grow: 1;
	}
}

@media (max-width: 640px) {
	.form-email__input {
		width: 240px;
	}

	.form-email__input:placeholder-shown {
		text-overflow: ellipsis;
	}
}
