.nav {
	min-width: 600px;
	display: flex;
	justify-content: space-between;
}

.nav__item {
	font-size: 19px;
	display: inline-block;
}

.nav__item:hover {
	color: var(--color-light-green);
}

@media (max-width: 1280px) {
	.nav {
		display: none;
	}

	.nav__item:hover {
		color: #fff;
	}
}
