.title-common {
	font-family: Roboto-Bold, sans-serif;
	font-size: calc(13px + 2vw);
	line-height: calc(28px + 2vw);
	letter-spacing: 0.36px;
	text-transform: capitalize;
}

.title-common--width {
	max-width: 520px;
}

.title-common--white {
	color: #fff;
}

.title-italic {
	font-family: Yellowtail, cursive;
	font-size: calc(20px + 1vw);
	line-height: calc(48px + 1vw);
	letter-spacing: 0.36px;
	text-transform: capitalize;
	color: var(--color-light-green);
}

.title-italic--white {
	color: #fff;
}
