@import url(blocks/about.css);
@import url(blocks/catalog.css);
@import url(blocks/categories.css);
@import url(blocks/ecofarm.css);
@import url(blocks/footer.css);
@import url(blocks/header.css);
@import url(blocks/products.css);
@import url(blocks/specials.css);
@import url(blocks/subscribe.css);
@import url(blocks/testimony.css);

@import url(elements/burger.css);
@import url(elements/button.css);
@import url(elements/cart.css);
@import url(elements/form-email.css);
@import url(elements/nav.css);
@import url(elements/stars.css);
@import url(elements/title.css);

@import url(fonts.css);
@import url(header.css);
@import url(reset.css);
@import url(variables.css);

* {
	font-family: Roboto, sans-serif;
	font-size: 18px;
	line-height: 32px;
	letter-spacing: 0.36px;
	color: var(--color-blue);
}

.container {
	width: 100%;
	max-width: 1440px;
	margin: auto;
}
