:root {
	--color-blue: #274c5b;
	--color-gray: #b8b8b8;
	--color-dark-gray: #525c60;
	--color-light-gray: #f9f8f8;
	--color-light-green: #7eb693;
	--color-light-brown: #efd372;
	--color-light-ornage: #ffa858;
}
